<div class="row">

  <div class="col-md-6">
    <h2>Products from the USA:</h2>
    <% if @products.usa.any? %>
      <ul>
        <% @products.usa.each do |product| %>
          <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>There are no US products yet.</p>
    <% end %>
    <h2>Search for a product:</h2>
    <%= form_tag(products_path, method: :get) do %>
    <%= text_field_tag :search, '', placeholder: 'Enter search term...' %>
    <%= submit_tag ("search"), :class => 'btn btn-info' %>
  <% end %>

  <% if (@product_search != nil) && (@product_search.length != Product.all.length)  %>
    <ul>
      <% @product_search.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-6">
    <h2>All Products</h2>
    <% if @page_products.any? %>
      <ul>
        <% @page_products.each do |product| %>
          <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>There are no more products.</p>
    <% end %>
    <%= paginate @page_products %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="butt"><%= link_to 'New Product', new_product_path %></h4>
  </div>
</div>