<%= render "layouts/errors", :object => @review %>

<%= form_for [@product, @review] do |f| %>
  <h4><%= f.label "Author Name:"%>
  <%= f.text_field :author %>
  <h4><%= f.label "Review"%></h4>
  <%= f.text_area :content_body %>
  <h4><%= f.label "Rating"%></h4>
  <%= f.number_field :rating, in: 1..5 %>
  <br>
  <br>
  <p><%= f.submit %></p>
<% end %>
