<!DOCTYPE html>
<html>
<head>
  <title>RecipeBook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="jumbotron">
    <div class="opaque">
    <h1>Mario's Specialty Foods</h1>
    <p>|<%= link_to "Products", products_path %>|</p>
  </div>
  </div>
  <div class="container">
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </div>
</body>
</html>
