<!DOCTYPE html>
<html>
<head>
  <title>Marios Special Foods</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="jumbotron">
    <%= user_signed_in? %>

    <div class="opaque">
    <h1>Mario's Specialty Foods</h1>
  </div>
  </div>
  <div class="container">
    <ul class="nav pull-right">
  <li><%= link_to "Home",         root_path %></li>
  <li><%= link_to "Admin",        new_admin_session_path %></li>
  <% if user_signed_in? %>
    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Account <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Profile", edit_user_registration_path %></li>
        <li><%= link_to "Settings", '#' %></li>
        <li class="divider"></li>
        <li>
          <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
        </li>
      </ul>
    </li>
    <li> <%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
  <% end %>
</ul>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </div>
  <br><br><br><br><br>
  <nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container footer">
    <h2>
    <%= link_to "Products", products_path %> | <%= link_to "Add a product", new_product_path %> | <%= link_to "Home", "/" %>
    </h2>
  </div>
</nav>

</body>
</html>
