<!DOCTYPE html>
<html>
<head>
  <title>RecipeBook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="jumbotron">
    <div class="opaque">
    <h1>Mario's Specialty Foods</h1>
  </div>
  </div>
  <div class="container">
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </div>
  <br><br><br><br><br>
  <nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container footer">
    <h2>
    <%= link_to "Products", products_path %> | <%= link_to "Add a product", new_product_path %> | <%= link_to "Home", "/" %>
    </h2>
  </div>
</nav>

</body>
</html>
