<!DOCTYPE html>
<html>
<head>
  <title>Marios Special Foods</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="jumbotron">
    <div class="opaque">
      <h1>Mario's Specialty Foods</h1>
    </div>
  </div>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Products", products_path, :class => "nav-link" %>
        </li>

        <li class="nav-item active">
          <%= link_to "Add a product", new_product_path, :class => "nav-link" %>
        </li>
      </ul>
    </div>
    <div class="mx-auto order-0">
      <%= link_to "MARIO'S", root_path, :class => "navbar-brand mx-auto" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Profile", edit_user_registration_path, :class => "nav-link my-2 my-sm-0" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "nav-link my-2 my-sm-0" %>
        </li>
        <% else %>
        <li class="nav-item active">
          <%= link_to "Sign in", new_user_session_path, :class => "nav-link my-2 my-sm-0" %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="container">
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </div>
  <br><br><br><br><br>
  <nav class="navbar navbar-dark bg-dark navbar-sticky-bottom">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <% if current_admin %>

        <%= link_to "All Users", admin_page_path, :class => "nav-link my-2 my-sm-0" %>
        </li>
        <li class="nav-item">
        <%= link_to "Admin Logout", destroy_admin_session_path, :method => :delete, :class => "nav-link my-2 my-sm-0" %>
        <% else %>
        <%= link_to "Admin Login",new_admin_session_path, :class => "nav-link" %>
        <% end %>
      </li>
    </ul>
  </nav>
</body>
</html>
