<!DOCTYPE html>
<html>
<head>
  <title>Marios Special Foods</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="jumbotron">
    <div class="opaque">
      <h1>Mario's Specialty Foods</h1>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <%= link_to "MARIO'S", root_path, :class => "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Products", products_path, :class => "nav-link" %>
        </li>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "Add a product", new_product_path, :class => "nav-link" %>
            </li>
            <% if user_signed_in? %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <%= link_to "Profile", edit_user_registration_path, :class => "nav-link" %>
              </li>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "nav-link" %>
                <% else %>
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <%= link_to "Sign in", new_user_session_path, :class => "nav-link" %>
                  </li>
                  <% end %>
                </ul>
              </nav>
              <div class="container">
                <%= flash[:alert] %>
                <%= flash[:notice] %>
                <%= yield %>
              </div>
              <br><br><br><br><br>
              <nav class="navbar navbar_foot navbar-default navbar-fixed-bottom">
                <div class="container footer">
                  <h2>
                    <%= link_to "Admin",        new_admin_session_path %>
                  </h2>
                </div>
              </nav>

            </body>
            </html>
